<!DOCTYPE html>
<html lang="%lang%">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <title>%title%</title>
    <style>
        <!--
        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
            "Segoe UI Symbol";
        }

        table {
            font-size: .9rem;
        }
        -->
    </style>
</head>
<body>
%crosstab%
</body>
</html>
